<form>
  <ul class="errors">
  </ul>

  <label for="name">Name:</label>
  <input type="text" id="name" name="tracking_attribute[name]" value="<%= attribute.escape("name") %>">

  <br>

  <label for="notes">Notes:</label>
  <input type="text" id="notes" name="tracking_attribute[notes]" value="<%= attribute.escape("notes") %>">

  <br>

  <label for="units">Units:</label>
  <input type="text" id="units" name="tracking_attribute[units]" value="<%= attribute.escape("units") %>">

  <br>

  <label for="make_int">Allow only integer values:</label>
  <input type="checkbox" name="tracking_attribute[is_float]" id="make_int" value="false">
  <br>

  <label for="min_val">Minimum allowed value (optional):</label>
  <input type="number" step="0.01" id="min_val" name="tracking_attribute[min_val]" value="<%= attribute.escape("min_val") %>">
  <br>

  <label for="max_val">Maximum allowed value (optional):</label>
  <input type="number" step="0.01" id="max_val" name="tracking_attribute[max_val]" value="<%= attribute.escape("max_val") %>">
  <br>

  <input type="submit">
</form>
