<%=dataPoint.escape("value")%> at <%=dataPoint.escape("time")%>

<a href="#/tracking_subjects/<%=""+dptsId%>/tracking_attributes/<%=""+dptaId%>/data_points/<%=dataPoint.get("id")%>/edit">

  edit data point

</a>

<button class="delete btn btn-danger"">delete</button>