<%if (canWrite){%> 
  <h1 class="editable" data-field="name"><%=subject.escape("name")%></h1>

  <a href="#/tracking_subjects/<%=subject.escape("id")%>/make_entry">
    <button class="btn btn-primary btn-lg">
      New entry
    </button>
  </a>

  <br>

  <a href="#/tracking_subjects/<%=subject.escape("id")%>/tracking_attributes/new">
    <button class="btn btn-primary btn-sm">
      New attribute
    </button>
  </a>

<%} else {%>
  <h1><%=subject.escape("name")%></h1>
<%}%>



<div class="graph"></div>

<div class="more-info"></div>
<br>

<div class="correlations-table"></div>

<button class="download btn btn-primary">
  Download csv
</button>

<button class="download-with-notes btn btn-primary">
  Download csv with notes
</button>

<br>
<br>
<%if (canWrite){%> 
  <button class="toggle_public btn btn-primary">
    <%if (is_public){%>
      Make private
    <%} else {%>
      Make public
    <%}%>
  </button>

  <br>

  <a href="#/tracking_subjects/<%=subject.get("id")%>/add_user">
    <button class="btn btn-primary">
      Give user access
    </button>
  </a>

  <br>


  <button class="delete btn btn-danger">delete</button>
<%}%>

